body {

  margin: 0;
  overflow: hidden;
  background: #70c5ce;
  font-family: Arial;
  text-align: center;

}

canvas {

  display: none;

}

#menu,
#shop,
#leaderboard {

  position: absolute;
  width: 100%;
  top: 100px;

}

#shop,
#leaderboard {

  display: none;

}

button {

  display: block;
  margin: 15px auto;
  padding: 15px 30px;
  border: none;
  border-radius: 10px;
  font-size: 20px;

}

h1 {

  color: white;
  font-size: 45px;

}

#scoreText {

  position: absolute;
  top: 20px;
  width: 100%;
  font-size: 50px;
  color: white;
  display: none;

}

#coinText {

  color: white;
  font-size: 25px;

}

ul {

  list-style: none;
  padding: 0;
  color: white;
  font-size: 25px;

}
